CREATE DATABASE QLSinhVien

CREATE TABLE Lop(
	ID int NOT NULL PRIMARY KEY,
	TenLop nvarchar(20) NOT NULL)

CREATE TABLE SinhVien(
	ID int NOT NULL PRIMARY KEY,
	HoTen nvarchar(100) NOT NULL,
	MaLop int NULL)

INSERT Lop (ID, TenLop) VALUES (1, N'CTK43')
INSERT Lop (ID, TenLop) VALUES (2, N'CTK44A')
INSERT Lop (ID, TenLop) VALUES (3, N'CTK44B')

INSERT SinhVien (ID, HoTen, MaLop) VALUES (1, N'Trần Văn Thái ', 1)
INSERT SinhVien (ID, HoTen, MaLop) VALUES (2, N'Mai Thành Thân', 2)
INSERT SinhVien (ID, HoTen, MaLop) VALUES (3, N'Phạm Thanh Thảo', 2)

CREATE PROC InsertStudent
	@Id int,
	@HoTen nvarchar(100),
	@MaLop int
AS
BEGIN
	INSERT INTO SinhVien
	VALUES (@Id, @HoTen, @MaLop)
END


SELECT * FROM SinhVien
SELECT * FROM Lop

SELECT b.ID, b.HoTen, b.MaLop, a.TenLop
FROM Lop a, SinhVien b
WHERE a.ID = b.MaLop AND (b.MaLop =1 OR a.TenLop LIKE 'CTK45A') 




SELECT b.ID, b.HoTen, b.MaLop, a.TenLop
FROM Lop a, SinhVien b
WHERE a.ID = b.MaLop AND (b.MaLop = 1 AND CHARINDEX('Nga',b.HoTen) >0)
